:root {
    --header-height: 60px;
    --header-border: 2px;
}

html, body {
    min-width: 386px;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    color: #000;
    line-height: 1.5;
    scroll-padding: 60px 0 0;
}

header {
    height: var(--header-height);
    width: calc(100% - 2 * 20px);
    padding: 0 20px;
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 var(--header-border) 0 rgba(0, 0, 0, .1), 0 0 27px 0 rgba(0, 0, 0, .12);
    line-height: 60px;
    position: fixed;
    top: 0;
    z-index: 2;
}

header.relative {
    position: relative;
    box-shadow: none;
    z-index: -1;
}

header > span {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 60px;
    background-image: linear-gradient(to right, #909 0, #909 50%, red 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header .jump-to-section-nav {
    font-size: 1.2em;
    float: right;
}

header .jump-to-section-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header .jump-to-section-nav li {
    margin: 0 10px;
    float: left;
    font-weight: bold;
}

header .smallwidth {
    height: 100%;
    margin-right: -10px;
    float: right;
}

.nav-toggle {
    --height: calc(100% - 2 * 10px);

    height: var(--height);
    aspect-ratio: 1;
    margin: 10px;
    background-color: rgba(0, 0, 0, .075);
    border-radius: 50%;
    cursor: pointer;
    transition: .1s;

    position: relative;
}
.nav-toggle:hover {
    background-color: rgba(0, 0, 0, .12);
}
.nav-toggle span {
    --height: 3px;
    --width: 24px;

    height: var(--height);
    width: var(--width);
    background-color: #444;
    border-radius: 6px;
    display: block;
    transition: .1s;

    position: absolute;
    top: calc(50% - var(--height) / 2);
    left: calc(50% - var(--width) / 2);
}
.nav-toggle span:nth-child(1) {
    transform: translateY(calc(-2 * var(--height)));
}
.nav-toggle span:nth-child(3) {
    transform: translateY(calc(2 * var(--height)));
}
.nav-toggle:hover span {
    background-color: #c9135e;
}
.nav-toggle.active span:nth-child(1),
.nav-toggle.nav-toggle--close span:nth-child(1) {
    transform: translateY(0) rotateZ(45deg);
}
.nav-toggle.active span:nth-child(2),
.nav-toggle.nav-toggle--close span:nth-child(2) {
    opacity: 0;
}
.nav-toggle.active span:nth-child(3),
.nav-toggle.nav-toggle--close span:nth-child(3) {
    transform: translateY(0) rotateZ(-45deg);
}

.smallwidth .nav-dropdown_wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
}
.smallwidth .nav-dropdown_wrapper.active {
    display: block;
}
.smallwidth .nav-dropdown {
    height: calc(100% - var(--header-height) - var(--header-border) + 60px);
    width: 100%;
    position: relative;
    top: var(--header-height);
    padding-top: var(--header-border);
    background-color: #efefef;
    transform: translateY(-40px);
    opacity: 0;
    transition: opacity .1s, transform .2s
}
.smallwidth .nav-dropdown_wrapper.active .nav-dropdown {
    transform: translateY(0);
    opacity: 1;
}

.smallwidth .nav-dropdown ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.smallwidth .nav-dropdown ul a {
    width: calc(100% - 4 * 20px);
    border-radius: 12px;
}
.smallwidth .nav-dropdown ul li {
    width: calc(100% - 4 * 20px);
    margin: 20px auto 0;
    padding: 6px 20px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 0 27px 0 rgba(0, 0, 0, .12);
    border-radius: 12px;
    font-size: 1.2em;
}

header + .banner {
    width: 100%;
    aspect-ratio: 1920rgb(26, 22, 22)82;
    background-size: contain;
}

a {
    color: #c9135e;
    text-decoration: none;
}

a.black {
    color: #000;
    transition: color .25s;
}
a.black:hover {
    color: #c9135e;
}

.notifications {
    width: calc(100% - 2 * 20px);
    padding: 16px 20px;
    background-color: #f9e7ef;
    box-shadow: 0 1px 0 rgba(199, 18, 92, .4), 0 0 27px 0 rgba(199, 18, 92, .1);
    color: #c9135e;
    text-align: center;
    line-height: 1;
}

.notifications a {
    font-weight: bold;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-notification {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    opacity: 0;
    transition: .2s;
}
.popup-notification.active {
    opacity: 1;
}
.popup {
    max-height: 80vh;
    width: 90vw;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 20px #333333;
    border-radius: 12px;
    position: relative;
    top: 10vh;
    overflow-y: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.popup::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
.popup-notification:not(.active) .popup {
    transform: scale(.8) translateY(-100px);
    transition: 1s;
}
.popup__header {
    background-color: white;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: 0 0 14px #d3d3d3;
    padding: 10px 20px 0;
    position: sticky;
    top: 0;
}
.popup__header h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.popup__header .nav-toggle {
    --height: 40px;

    margin: 0;
    float: right;
}
.popup__body {
    padding: 20px;
}
.popup__body > p {
    text-align: justify;
    hyphens: auto;
}
.popup__body > p:last-child {
    margin-bottom: 0;
}

.errordocument__number {
    font-size: 7em;
    font-weight: bold;
    background-image: linear-gradient(to right, #909 0%, red 100%);
    color: transparent;
    background-clip: text;
    /* transform: rotate(-10deg); */
    line-height: 1;
    display: inline-block;
}

main > h1 {
    text-align: center;
}

main .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* space-evenly */
}

main .card_wrapper {
    width: 460px;
    margin: 0 20px 40px;
}

main .card {
    height: calc(100% - 2 * 20px);
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 0 27px 0 rgba(0, 0, 0, .12);
    border-radius: 12px;
    font-size: 1.08em;
    text-align: center;
}
main .card.with-image {
    height: calc(100% - 20px);
    padding: 0 0 20px;
}

main .card .card__portalbild {
    width: 100%;
    aspect-ratio: 2 / 1;
    margin: 0 0 20px;
    background-image: var(--img);
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 12px 12px 0 0;
}

main .card .card__portalname {
    margin: 0 0 10px;
    padding: 0 20px;
    font-size: xx-large;
    text-align: center;
    display: block;
}

main .card .card__beschreibung {
    width: calc(100% - 2 * 20px);
    padding: 0 20px;
    text-align: justify;
    hyphens: auto;
    display: block;
}

.smallwidth {
    display: none;
}

@media only screen and (max-width: 876px) {
    body.scrolling-disabled {
        overflow: hidden;
    }
    
    .normalwidth {
        display: none;
    }
    .smallwidth {
        --display: block;
        display: var(--display);
    }

    main .card_wrapper {
        width: 100%;
        max-width: 660px;
    }

    .popup {
        height: 90vh;
    }
}

@media only screen and (max-width: 600px) {
    header > span {
        font-size: 1.35em;
    }

    main .card_wrapper {
        width: 100%;
    }
}
